*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

.header{
    background-color: rgb(219, 236, 214);
    position: relative;
    min-height: 35vh;
    text-align: center; /* Center the content */
    background-image: linear-gradient(rgba(4, 9, 30, 0.591),rgba(4, 9, 30, 0.514)),url(mountains-7865995_1280.jpg); /* Image from flutie8211 on pixabay */
    background-position: center;
    background-size: cover;
    border-bottom: solid 1px rgb(109, 136, 123,0.5)
}
.header-image {
    margin: 0;
    width: 100%;
    height: auto;
    opacity: 25%;
}

/* menu nav area*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
nav img{
    width: 60px;
    margin-top: 5px;
    margin-left: -20px;
    
}
@media(max-width: 700px){
    nav img{
        width: 50px;
        margin-top: 10px;
    }
}
@media(max-width:475px){
    nav img{
        margin-left: -5px;
    }
}

.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul{
   margin-top: -35px;
   margin-right: -40px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 10px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background:rgba(97, 129, 129);
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}

/*media section for smaller screen size for nav*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
       display: block; 
    }
    .nav-links{
        position:absolute;
        background: darkslategray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
        visibility: hidden;
    }
    nav .fa-solid{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        z-index: 2;
    }
    .nav-links ul{
        padding: 30px;
        margin: -20px 0px 0 -10px;
    }
   
}


@media screen and (max-width: 700px) {
    .hidden-mobile {
        position:absolute;
        background: darkslategray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
     transition: 1s;
      visibility: hidden;
    }
    .visible-mobile {
        position:absolute;
        background: darkslategray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
      visibility: visible;
    }
    .visible-mobile ul{
        padding: 30px;
        margin: -20px 0px 0 -10px;
    }
    .visible-mobile ul li{
        display: block; 
     }
 }

.title h1, h3{
    color: #fff;
}
.title h1{
    font-size: 50px;
    margin-top: -5%;
    text-shadow:
    2px 2px rgba(107, 129, 129),
   2px 2px  rgba(107, 129, 129),
    2px 2px  rgba(107, 129, 129),
    2px 2px  rgba(107, 129, 129);
}

.body1{
    background-color: aliceblue;
    padding:2.5% 5%;
    background-image: linear-gradient(rgba(194, 199, 215, 0.7),rgba(194, 199, 215, 0.6)),url(spiralBack.jpeg);
    background-position: center;
    z-index: 1;
}
@media(max-width:425px){
    .body1{
        padding:2.5% 2.5%;
    }
   
}
.d1{ 
    padding: 40px;
    border-radius: 10px;
    border: solid 2px rgba(47, 79, 79, 0.094);
    z-index: 2;
    background-color: rgba(107, 129, 129, 0.35);
}
@media(max-width:450px){
    .d1{
        padding: 40px 20px;
     }
}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
@media(max-width:700px) {
    .row1{
        flex-direction: column;
    }
}

.div2{
    padding: 15px;
    margin-top: -20px;
}
.div2 h3{
    margin-bottom: 10px;
}
.div2 p{
    line-height: 25px;
}
@media(max-width:700px){
    .div2{
        text-align: center;
    }
}

.div3{
    margin: 30px auto 10px auto;
    text-align: center;
}
.div3 h3{
    margin-bottom: 10px;
}
.div3 p:nth-child(3){
    margin-top: 40px;
    margin-bottom: 40px;
}
.div3 a{
    margin-top: 30px;
    color: rgb(97, 119, 119);
}
.div3 p{
    line-height: 25px;
}

.img1{
    border-radius: 5px;
    border: solid 3px rgba(107, 129, 129, 0.5);
    width: calc(150px + 15%); 
   
}
@media(max-width:700px){
    .img1{
        width: calc(250px + 20%); 
    }
}

.photsrow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.photsrow a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.phd{
   
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 80px;
    border: solid 4px  rgba(177, 199, 199, 0.5);
    cursor: pointer;
    z-index: 8;
}
#REsources{
    background-image: linear-gradient(rgba(4, 9, 30, 0.591),rgba(4, 9, 30, 0.514)),url(bookshelf2.jpg);
}
#vents{
    background-image: linear-gradient(rgba(4, 9, 30, 0.691),rgba(4, 9, 30, 0.614)),url(manbun.jpg);
}
#abtus{
    background-image: linear-gradient(rgba(4, 9, 30, 0.591),rgba(4, 9, 30, 0.514)),url(dogs1.jpg);
}
.phd h3{
    text-decoration: none;
}
.phd h3:hover{
    color: rgba(177, 199, 199);
    transition: 0.5s;
}
a .phd {
    display: block;
    text-decoration: none;
}
.phd:hover{
    border: solid 8px  rgba(177, 199, 199);
    transition: 0.5s;
    border-radius: 0px;
}
.photsrow img{
    border-radius: 5px;
    border: solid 2px rgba(127, 149, 149, 0.5);
}
.layer1:hover{
    z-index: 9;
    background-color: #fff;
    color: rgb(124, 52, 52);
}
@media(max-width:850px){
    .phd{
        padding: 40px;
    }
}
@media(max-width:775px){
    .phd{
        padding: 35px;
    }
}
@media(max-width:575px){
    .phd{
        padding: 20px;
    }
}
@media(max-width:450px){
    .phd{
        padding: 17.5px;
    }
    .phd h3{
        font-size: 16.25px;
    }
}
@media(max-width:400px){
    .phd{
        padding: 15px;
    }
}
@media(max-width:375px){
    .phd{
        padding: 10px;
    }
    .phd h3{
        font-size: 15px;
    }
}

.footer{
    background-color: antiquewhite;
    padding: 20px 0;
    background-image:linear-gradient(rgb(250, 235, 215, 0.5),rgb(250, 235, 215, 0.5) ), url(spipng.png);
    background-position:100px;
    background-size: 750px;
}
.footRow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  
}
@media(max-width:525px){
    .footRow{
        flex-direction: column;
    }
    .footRow div{
        text-align: center;
    }
    .alsoC{
        margin-top: 20px;
    }
}
.footer li{
    list-style-type: none;
}
.footer h2{
    margin-bottom: 20px;
}
.pop-pages li{
    border-top:solid 1px  rgba(107, 129, 129, 0.5);
    padding: 1.25px 5px;
    cursor: pointer;
}
.pop-pages li:hover{
    background-color: rgba(107, 129, 129, 0.35);
    transition: 0.5s;
}
.pop-pages a{
    text-decoration: none;
    color: darkslategray;
}
.alsoC li{
    border-top:solid 1px  rgba(107, 129, 129, 0.5);
    cursor: pointer;
    padding: 1.25px 5px;
}
.alsoC a{
    text-decoration: none;
    color: darkslategray;
}
.alsoC li:hover{
    background-color: rgba(107, 129, 129, 0.35);
    transition: 0.5s;
}
@media(max-width:525px){
    .footer li{
        width: 80vw;
        margin: 0 auto;
    }
}

.spiralBut, .spiralfo{
    padding: 10px;
    background-color: rgb(117, 148, 130);
    color: #fff !important;
    border: solid 2px  rgba(107, 129, 129, 0.5);
    border-radius: 5px;
    text-decoration: none;
}
.spiralBut:hover, .spiralfo:hover{
    background-color: rgb(147, 178, 160);
    transition: 0.5s;
}
.italic1{
    color:  rgba(37, 59, 59);
    font-size: 17.5px;
}
@media(max-width:400px){
    #indexHead{
        min-height: 40vh;
        
    }
}

/**** Page 2  ****/
#spiBod p{
    line-height: 22.5px;
}
.s1h3{
    margin-bottom: 15px;
    font-size: 25px;
    text-shadow:
    1px 1px rgba(107, 129, 129),
    1px 1px  rgba(107, 129, 129),
    1px 1px  rgba(107, 129, 129),
    1px 1px  rgba(107, 129, 129); 
}
.s1h4{
    margin: 15px 0 10px 0;
   /* color:  rgba(67, 89, 89); */
   color: #fff;
   text-shadow:
   0.5px 0.5px rgba(107, 129, 129),
   0.5px 0.5px  rgba(107, 129, 129),
   0.5px 0.5px  rgba(107, 129, 129),
   0.5px 0.5px  rgba(107, 129, 129); 
}
.row2{
   
    align-items: center;
   

}
@media(max-width:700px) {
    .row2{
        flex-direction: column;
    }
}

.quoteP{
    margin-top: 10px;
    margin-bottom: 10px;
    color:  rgba(37, 59, 59);
    font-style: italic;
    text-shadow:
    0.125px 0.125px rgba(97, 119, 119,0.25),
    0.125px 0.125px  rgba(97, 119, 119,0.25),
    0.125px 0.125px  rgba(97, 119, 119,0.25),
    0.125px 0.125px  rgba(97, 119, 119,0.25);
}
.row3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 10px;
}
@media(min-width:900px){
    .row3 p{
        line-height: 25px;
    }
}

.row4{
    display: flex;
    gap: 5px;
}
/*
@media(min-width:1100px){
    .row4{
        flex-direction: column;
    }
} */
.img2{
    border-radius: 5px;
    border: solid 3px rgba(107, 129, 129, 0.5);
    width: 30vw;
    margin: 0 0 10px 20px;
    min-width: 200px;
    max-width: 300px;
    float: right;
}
@media(max-width:355px){
   .img2{
        margin: 5px auto;
        float: none;
   }
}

.row5{
   text-align: center;
}
.spiralBut2{
    padding: 10px;
    background-color: rgb(117, 148, 130);
    color: #fff !important;
    border: solid 2px  rgba(107, 129, 129, 0.5);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 20%;
   
    margin: 25px 5px 25px 5px;
}
@media(min-width:625px){
    .spiralBut2{
        min-width: 125px;
        max-width: 150px;
    }
}
.spiralBut2:hover{
    background-color: rgb(147, 178, 160);
    transition: 0.5s;
}
.s2p1{
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnRow{
    display: flex;
    align-items: center;
}
.line1{
    width: 30vw;
    height: 1.5px;
    border: none;
    background: rgb(109, 131, 131);
}
@media(max-width:425px){
    .btnRow{
        flex-direction: column;
    }
    .spiralBut2{
        margin: 10px auto;
        width: 50vw;
    }
}

.emailLink{
    text-decoration: none;
    color:  rgba(67, 89, 89);
}
#qh4{
    text-shadow:
    0.5px 0.5px rgba(107, 129, 129),
    0.5px 0.5px  rgba(107, 129, 129),
    0.5px 0.5px  rgba(107, 129, 129),
    0.5px 0.5px  rgba(107, 129, 129); 
    font-size: 20px;
}
.tipsList{
    padding-left: 15px;
}
.tipsList li{
    margin-top: 7.5px;
    text-decoration: none;
    list-style-type:circle;
   /* list-style-type: none; */
}
.strong1{
    font-size: 14.5px;
    color: rgba(37, 69, 69);
    text-shadow:
    0.25px 0.25px rgba(127, 149, 149),
    0.25px 0.25px  rgba(127, 149, 149),
    0.25px 0.25px  rgba(127, 149, 149),
    0.25px 0.25px  rgba(127, 149, 149);
}
/********   Page 3  ***********/
.b1row{
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.b1row h3{
   text-align: left;
}
.motiv{
    text-align: left;
}
.goals{
    text-align: left;
}
.b1d{
    text-align: center;
}
.b1d hr{
    margin-bottom: 15px;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:850px){
    .b1d hr{
        width: 20vw;
    }
}
@media(max-width:775px){
    .b1d hr{
        width: 15vw;
    }
}

.b1row h3{
  padding-left: 20px;
}
.line2{
    width: 20vw;
    height: 1.5px;
    border: none;
    background:rgba(255, 255, 255, 0.526);
    margin-top: -10px;
    margin-bottom: -2px;
}
.b1row p{
    line-height: 25px;
    border: solid 2px rgb(255, 255, 255, 0.425) ;
    padding: 10px 20px 20px 20px;
    border-radius: 5%;
    border-top-left-radius: 0;
}
@media(max-width:750px){
    .b1row{
        flex-direction: column;
    }
}
.b1d p{
    line-height: 25px;
}
.lowp1{
    margin-top: 5px;
    font-size: 16.5px;
    color: rgb(57, 79, 79);
    text-shadow:
    0.25px 0.25px rgba(157, 189, 189),
    0.25px 0.25px  rgba(157, 189, 189),
    0.25px 0.25px  rgba(157, 189, 189),
    0.25px 0.25px  rgba(157, 189, 189);
}
/********* Page 4 **********/

.resourceDiv1{
    display: flex;
    padding: 0 20px 0 20px;
    position: relative;
}

.resourceDiv1 p{
    text-align: right;
    margin-left: 25px;
    width: 65vw;
    text-align: center;
}
.resourceDiv1 h4{
    width: 162.5px;
    text-shadow:
    0.5px 0.5px rgba(207, 229, 229),
    0.5px 0.5px  rgba(207, 229, 229),
    0.5px 0.5px  rgba(207, 229, 229),
    0.5px 0.5px  rgba(207, 229, 229); 
}
@media(max-width:1150px){
    .resourceDiv1 h4{
        width: 150px;
    }
}


.line3{
    height: 1.5px;
    border: none;
    background: rgb(109, 131, 131);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: -10px;
    padding-right: -10px;
}
.charLinka{
    text-decoration: none;
    color: darkslategray;
   
}

.line4{
    position: absolute;
    width: 1px;
    height: 200%;
    left: 15vw;
    border: none;
    background: rgba(137, 159, 159);
    top: -10%;
}
@media(min-width:1350px){
    .line4{
        height: 350%;
       
    }
}
@media(min-width:1300px){
    .line4{
        left: 13.5vw;
    }
}
@media(max-width:1200px){
    .line4{
        left: 15.5vw;
    }
}
@media(max-width:1100px){
    .line4{
        left: 16.5vw;
    }
}
@media(max-width:1050px){
    .line4{
        left: 17.5vw;
    }
}
@media(max-width:900px){
    .line4{
        left: 17.5vw;
    }
}
@media(max-width:875px){
    .line4{
        left: 18vw;
    }
}
@media(max-width:815px){
    .line4{
        left: 19vw;
    }
}
@media(max-width:775px){
    .line4{
        left: 21vw;
    }
}
@media(max-width:700px){
    .line4{
        left: 22.5vw;
    }
    .resourceDiv1 p{
        width: 60vw;
        margin-left: 35px;
    }
}
@media(max-width:650px){
    .line4{
        left: 23vw;
    }
    .resourceDiv1 h4{
        margin-left: -10px;
    }
    .resourceDiv1 p{
        width: 57.5vw;
    }
}
@media(max-width:600px){
    .line4{
        left: 25vw;
        height: 150%;
    }
}
@media(max-width:550px){
    .line4{
        left: 27vw;
    }
}
@media(max-width:500px){
    .line4{
        left: 29.5vw;
    }
    .resourceDiv1 p{
       margin-right: -10px;
    }
}
@media(max-width:475px){
    .line4{
        height: 150%;
    }
}
@media(max-width:450px){
    .line4{
        left: 31.5vw;
    }
    .resourceDiv1 h4{
        margin-left: -20px;
    }
}
@media(max-width:400px){
    .line4{
        left: 33vw;
    }
}
@media(max-width:360px){
    .line4{
        left: 34.5vw;
        height: 145%;
    }
}
@media(max-width:330px){
    .line4{
        left: 35vw;
    }
}